body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;

}
h1,h2,h3,h4 {
    color: white; 
    justify-content: center;
    display: flex; 
    
    justify-content:flex-start;
}

.container{
    font-size: 15px;
    width: 40em;
    height: 40em;
    position: relative;
}
.sun{
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: yellow;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 7em white;
}
.earth,.moon,.mars {
    position: absolute;
    border-style: solid;
    border-color: white
    transparent
    transparent
    transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}
.jupter {
    display: flex;
    position: absolute;
    border-style: solid;
    border-color: white
    
    ;
    border-width: 0em 0.1em 0.1em 0em;
    border-radius: 50%;
}
.mars {
    top: -5em;
    left: -5em;
    width: 50em;
    height: 50em;
    animation: orbit 30s linear infinite;
}
.jupter {
    top: -15em;
    left: -15em;
    width: 70em;
    height: 70em;
    animation: orbitReverse 25s linear infinite reverse;
}
.earth {
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 36s linear infinite;
}
.moon {
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}
.earth::before,
.moon::before,
.mars::before,
.jupter::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}
.earth::before {
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: aqua;
}
.mars::before {
    top:6em;
    right: 6em;
    width: 2.8em;
    height: 2.8em;
    background-color: rgb(144, 62, 3);
}
.jupter::before {
    top:9em;
    right: 8.5em;
    width: 2.8em;
    height: 2.8em;
    background-color: rgb(185, 154, 119);
}
.moon::before {
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}
@keyframes orbit{
    to {
        transform: rotate(360deg);
    }
}
@keyframes orbitReverse{
    to {
        transform: rotate(360deg);
    }
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}